@font-face {
    font-family: Futura Book;
    src: url('../fonts/FuturaPT/FuturaPT-Book.ttf') format("opentype");
}
@font-face {
    font-family: Futura Medium;
    src: url('../fonts/FuturaPT/FuturaPT-Medium.ttf') format("opentype");
}
@font-face {
    font-family: Futura Demi;
    src: url('../fonts/FuturaPT/FuturaPT-Demi.ttf') format("opentype");
}
@font-face {
    font-family: Futura Heavy;
    src: url('../fonts/FuturaPT/FuturaPT-Heavy.ttf') format("opentype");
}
@font-face {
    font-family: Futura Book Italic;
    src: url('../fonts/FuturaPT/FuturaPT-BookObl.ttf') format("opentype");
}
.futura-book {
    font-family: 'Futura Book', serif;
}
.futura-book-italic {
    font-family: 'Futura Book Italic', serif;
}
.futura-medium {
    font-family: 'Futura Medium', serif;
}
.futura-demi {
    font-family: 'Futura Demi', serif;
}
.lora {
    font-family: 'Lora', serif;
}
* {
    font-family: 'Futura Book', 'Lora', serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    font-family: 'Futura Heavy', serif;
}
h2 {
    font-family: 'Futura Medium', serif;
}
h3, h4 {
    font-family: 'Futura Demi', serif;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 24px;
}
p {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
a {
    text-decoration: none;
}
hr {
    border-color: rgba(51, 51, 51, 0.1);
}
#banner {
    height: 100vh;
    background-image: url(../images/main_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
#banner h1 {
    font-size: 96px;
    line-height: 123px;
    color: #fff;
}
#banner h2 {
    font-size: 36px;
    line-height: 46px;
    color: #fff;
}
#banner .arrow-bottom {
    position: absolute;
    bottom: 110px;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
#banner .arrow-bottom a {
    background-color: #111111;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding-top: 14px;
}
.container-text {
    max-width: 640px;
    margin: 0 auto;
}
/* Bounce animation */
.arrow {
    text-align: center;
}
.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


#beginning {
}
.beginning-header {
    height: 30vh;
    position: relative;
}
.beginning-header img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}
.beginning-header h3 {
    position: absolute;
    top: 35%;
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    font-family: Futura PT;
    left: 0;
    width: 100%;
}
.container-text .p-min {
    max-width: 560px;
}
.img-container {
    margin: 0 auto;
}
.section-1__ul {
    padding-left: 16px;
}
.section-1__ul li{
    line-height: 32px;
    font-size: 16px;
    font-family: 'Futura Book', serif;
    padding-left: 12px;
}
.fixed-bg {
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.person-png {
    height: 720px;
    background-image: url(../images/person.png);
}
.turanbank-jpg {
    height: 720px;
    background-image: url(../images/turanbank.jpg);
}
.erzhan-jpg {
    height: 720px;
    background-image: url(../images/erzhan.jpg);
}
.muhtar-jpg {
    height: 720px;
    background-image: url(../images/muhtar.jpg);
}
.gov-jpg {
    height: 720px;
    background-image: url(../images/gov.jpg);
}
.samruk-png {
    height: 720px;
    background-image: url(../images/samruk.png);
}
.qazkom-png {
    height: 720px;
    background-image: url(../images/qazkom.png);
}
.battle-jpg {
    height: 825px;
    background-image: url(../images/battle.jpg);
}
.battle {
    z-index: -1;
    position: relative;
    top: -100px;
}
@media screen and (max-width: 576px) {
    .fixed-bg {
        height: 300px;
    }
}
/* Section 2 */
.section-header {
    background-image: url(../images/vector_bg.png);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 420px;
}
.section-2__header {
    background-image: url(../images/vector_bg2.png);
    height: auto;
}
/* Section Characters*/
.characters {
    max-width: 720px;
    margin: 0 auto;
}
.character {
    cursor: pointer;
    padding-left: 3px;
    position: relative;
}
.tooltip {
    position: absolute;
    z-index: 400;
    top: 100%;
    left: -100px;
    width: 200px;
    min-height: 80px;
    background-color: #fff;
    opacity: 0;
    transition: all 0.3s ease;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
    display: none;
}
.tooltip label {
    font-family: 'Futura Demi', serif;
    margin-bottom: 1px;
}
.tooltip p {
    font-family: 'Futura Book', serif;
    margin: 0;
}
.character img:hover + .tooltip {
    opacity: 1;
    display: flex;
}
footer {
    background-color: #222222;
}
@media screen and (max-width: 576px) {
    #banner {
        background-attachment: inherit;
    }
    #banner h1 {
        font-size: 32px;
    }
    h1 {
        font-size: 32px;
    }
    #banner h2 {
        font-size: 28px;
    }
    h2 {
        font-size: 28px;
    }
    #banner .arrow-bottom {
        margin-top: 24px;
        position: static;
    }
    .beginning-header h3 {
        font-size: 24px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    section {
        max-width: 100vw;
        overflow: hidden;
    }
    section img {
        max-width: 100%;
    }
    .container-text {
        padding: 0 16px;
    }
    p.font-24 {
        font-size: 16px;
    }
    .characters .deputes {
        flex-direction: column;
    }
    .characters .deputes > div {
        justify-content: center;
    }
    .masters {
        flex-direction: column;
    }
    .character-group > div{
        justify-content: center;
    }
    .section-header {
        height: 300px;
        margin-bottom: 48px;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
    }
    .section-2__header {
        height: auto;
    }
    .fixed-bg {
        background-attachment: inherit;
    }
}
