.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    align-items: center;
}
.btn-group {
    height: 32px;
}
.btn-group .full {
    max-width: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #F92525;
    line-height: 32px;
    cursor: pointer;
}
.btn-group .full small {
    padding: 0 12px;
    color: #fff;
}
.btn-group .btn-section {
    height: 32px;
    width: 40px;
    background-color: #000;
    color: #fff;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
.btn-section.active,
.full .btn-section:hover {
    background-color: #F92525;
}
.btn-group:hover .full{
    max-width: 500px;
}

@media screen and (max-width: 576px) {
    .sidebar {
        align-items: flex-start;
        height: auto;
    }
    .sidebar .sidebar-links {
        display: flex;
    }
    .btn-group:hover .full {
        max-width: 0;
    }
    .socials {
        position: fixed;
        bottom: 24px;
        left: 16px;
    }
    .lang {
        position: fixed;
        bottom: 24px;
        right: 16px;
    }
    .btn-group.collapse .full{
        max-width: 500px;
    }
}
