.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    align-items: center;
}
.btn-group {
    height: 32px;
}
.btn-group .full {
    max-width: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #F92525;
    line-height: 32px;
    cursor: pointer;
}
.btn-group .full small {
    padding: 0 12px;
    color: #fff;
}
.btn-group .btn-section {
    height: 32px;
    width: 40px;
    background-color: #000;
    color: #fff;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    border: none;
}
.btn-section.active,
.full .btn-section:hover {
    background-color: #F92525;
}
.btn-group:hover .full{
    max-width: 500px;
}
#site-link {
    position: absolute;
    transform: translate(-1000px);
    opacity: 0;
    z-index: -100;
}
/* Tooltip */
.tooltip-text {
    position: relative;
}
.tooltip-text .span-text {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 150%;
    left: 50%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-text .span-text::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip-text .span-text.top {
    margin-left: -75px;
}
.tooltip-text .span-text.top::after {
    top: 100%;
    left: 50%;
}
.tooltip-text .span-text.right {
    bottom: 0;
    left: calc(100% + 5px);
}
.tooltip-text .span-text.right::after {
    top: 50%;
    left: 0;
}
.tooltip-text:hover .span-text {
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 576px) {
    .sidebar {
        align-items: flex-start;
        height: auto;
    }
    .sidebar .sidebar-links {
        display: flex;
    }
    .btn-group:hover .full {
        max-width: 0;
    }
    .socials {
        position: fixed;
        bottom: 24px;
        left: 16px;
    }
    .lang {
        position: fixed;
        bottom: 24px;
        right: 16px;
    }
    .btn-group.collapse .full{
        max-width: 500px;
    }
}
